<h1>News' Scraping</h1>

<h3>Video Game Hacking</h3>

<ul>
  {{#each events}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Event: {{this.event}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/create" method="POST">
	<textarea type="text" name="event"></textarea>

	<button type="submit">Submit</button>
</form>
